
fastapi==0.110.0
uvicorn==0.27.1

sentence-transformers==2.6.1
transformers==4.38.2
torch==2.1.2          
faiss-cpu==1.7.4

numpy==1.26.4
pandas==2.2.1
tqdm==4.66.2

regex==2023.12.25
python-multipart==0.0.9

requests==2.31.0
httpx==0.27.0

python-dotenv==1.0.1

scikit-learn==1.4.1.post1

pymupdf==1.23.8
